
*.exe
*.out
*.o
*.obj
*.dll
*.lib
*.a
*.so


build/
cmake-build-debug/
x64/
Debug/
Release/


__pycache__/
*.py[cod]
*$py.class
*.pyo
.pytest_cache/


results.csv
plot.png
matrix_a.txt
matrix_b.txt
result.txt


.vs/
.vscode/
.idea/
*.suo
*.user
*.swp
*.sdf

